<launch>
  <include file="$(find bexter_moveit_config)/launch/robot_demo.launch">
    <arg name="use_rviz" value="false" />
  </include>
  <node name="bextermovegroup" pkg="bexter_motion_planner" type="bexter_motion_planner_node.py" output="screen" clear_params="true">
       <param name="rviz_mode" value="false" /> 
  </node>    
</launch>