<model>
    <name>bexter_urdf_final_combined.urdf</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Billy Kim</name>
        <email></email>
    </author>

    <description>
        Collision and visual URDF for final bexter
    </description>
</model>
