<?xml version="1.0"?>
<model>
    <name>bexter_combined_urdf.urdf</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Billy Kim</name>
        <email></email>
    </author>

    <description>
        Collision and visual URDF files for Bexter
    </description>
</model>